html {
    color: white;
    background: black;
    font-family: LatoWebMedium;
}
body {
    padding: 1%;
}
hr {
    color: white;
    margin-bottom: 20px;
}
a {
    text-decoration: underline;
    color: inherit;
}
h3, h4 {
    margin-bottom: 0px;
}
input {
    padding: 5px;
    border-radius: 5px;
}


.navbar {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
}
.navbar .left {
    float: left;
    text-align: left;
}
.navbar .right {
    float: right;
    text-align: right;
}

.header {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
}
.header .logo {
    height: 80px;
    float: right;
    padding-right: 20px;
}

.button {
    background: #333333;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    line-height: 50px;
    margin: 2px;
    color:inherit;
    font-family: inherit;
    font: inherit;
    font-size: inherit;
}
.disabled {
    color: #444444;
    background: #111111;
    text-decoration: none;
}

.profile_card {
    float: left;
    padding: 7px;
    background: #333333;
    border-radius: 15px;
    margin: 5px;
    text-align: left;
    width: 350px;
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: 100px auto;
    align-items: center;
    padding-left: 15px;
}
.profile_card .profile_image {
    grid-row: 1 / span 2; /* image spans two rows */
}
.profile_card img {
    float: left;
    border-radius: 100%;
    height: 100px;
}
.profile_card .profile_info {
    padding-left:10px;
    text-align: left;
}
.profile_card .profile_info h3, .profile_card .profile_info p {
    margin: 0;
    margin-bottom: 5px;
}
.profile_card .profile_info p {
    opacity: 0.7;
}


.post_card {
    background: #333333;
    border: 2px solid #bbbbbb;
    border-radius: 15px;
    padding: 1px;
    padding-left: 15px;
    text-align: left;
    margin: 20px;
}
.post_card .post_header {
    display: inline-block;
    height:50px;
    margin-bottom: 10px;
}
.post_card .post_header h4 {
    display: inline-block;
}
.post_card img, .post_card video {
    height: 200px;
    margin: 10px;
    border-radius: 20px;
}
.post_card .avatar {
    float: left;
    height: 50px;
    border-radius: 25px;
}
.post_card hr {
    opacity: 0.4
}

.error {
    color: red;
}
.center {
    text-align: center;
}

.profile_bio {
    opacity:0.7;
}
.avatar {
    clip-path: circle();
    height: 100px;
    margin-right: 10px;
}
